body{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}
.top-part {
    width: 100%;
    display: flex;
    margin: 50px 90px 50px 90px;
}
.left-side{
    width: 50%;
}
.left-side h1{
    font-size: 50px;
    font-family: 'Anton', sans-serif;
}
.left-side h2{
    font-size: 40px;
    margin-top: -40px;
}
.left-side span{
    color:  #0284b1 ;
}
.left-side p{
    color: #566573;
    text-align: justify;
}
.left-side a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    background-color: #0284b1;
    padding: 10px 40px;
    border-radius: 5px;
}  
.right-side{
    width: 50%;
    margin-left: 100px;
}
.right-side img {
    width: 400px;
}
.N-part{
    margin-top: -40px;
}
.N-part .mission-part{
    display: flex;
    margin: 90px;
}
.N-part h1{
    font-size: 50px;
    text-align: center; 
    font-family: 'Vujahday Script', cursive;   
}
.N-part span{
    color: #0284b1;
}
.N-part .a{
    width: 30%;
    background-color: #D1F2EB;
    padding-left: 50px;
    border-radius: 10px;
}
.N-part .a img{
    width: 100px;
}
.N-part .b{
    width: 30%;
    background-color: #AED6F1F8;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 50px;
    border-radius: 10px;
}
.N-part .b img{
    width: 100px;
}
.N-part .c{
    width: 33%;
    background-color: #D6EAF8;
    padding-left: 50px;
    border-radius: 10px;
}
.N-part .c img{
    width: 30%;
}
.develop {
    display: flex;
    margin: 90px;
}
.develop .left-side-a{
    width: 50%;
}
.develop .left-side-a img{
    width: 500px;
    border-radius: 120px 2px;
}
.develop .right-side-b{
    width: 50%;
}
.develop .right-side-b h1{
    font-size: 50px;
    font-family: 'Vujahday Script', cursive;
}
.develop .right-side-b h2{
    font-size: 40px;
    color: #0284b1;
    margin-top: -40px;
}
.develop .right-side-b p{
    text-align: justify;
}
.develop .right-side-b a{
    text-decoration: none;
    background-color: #0284b1;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}
.know-our-global-community{
    display: flex;
    margin: 90px;
}
.know-our-global-community .left-side-text{
    width: 50%;
}
.know-our-global-community .left-area-text h1{
    font-size: 40px;
    color: #0284b1;
    font-family: 'Vujahday Script', cursive;
}
.know-our-global-community .left-area-text h2{
    font-size: 30px;
    margin-top: -25px;
}
.know-our-global-community a{
    text-decoration: none;
    background-color: #0284b1;
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}
.know-our-global-community .right-area-img{
    width: 50%;
}
.know-our-global-community .right-area-img img{
    width: 500px;
    border-radius: 120px 2px;
}
.contact-area h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Vujahday Script', cursive;
}
.contact-area h1 span{
    color: #0284b1;
}
.contact-area .contact {
    width: 50%;
    margin-left: 25%;
}
.contact-area .name {
    display: inline;
    width: 50%;
}
.contact-area #text1{
    width: 50%;
    margin-left: 130px;
    padding: 8px;
    border-radius: 10px;
}
.contact-area .mail {
    display: inline;
    width: 50%;
}
.contact-area #text2{
    width: 50%;
    margin-left: 133px;
    padding: 8px;
    border-radius: 10px;
}
.contact-area .sub {
    display: inline;
    width: 50%;
}
.contact-area #text3{
    width: 50%;
    margin-left: 115px;
    padding: 8px;
    border-radius: 10px;
}
.contact-area .phone {
    display: inline;
    width: 50%;
}
.contact-area #text4{
    width: 50%;
    margin-left: 52px;
    padding: 8px;
    border-radius: 10px;
}
.contact-area .message {
    display: inline;
    width: 50%;
}
.contact-area #text5{
    width: 50%;
    margin-left: 102px;
    padding: 8px;
    border-radius: 10px;
}
.contact-area .button{
    margin-left: 35%;
    margin-top: 30px;
}
.contact-area .button a{
    text-decoration: none;
    background-color: #0284b1;
    padding: 15px 40px;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
}
footer{
    margin-top: 55px;
    background-color: #000;
    height: 180px;
}
footer h1{
    padding-top: 30px;
    text-align: center;
    color: #fff;
    font-family: 'Dancing Script', cursive;
}
footer h1 span{
    color: #0284b1;
}
footer p{
    color: #fff;
    text-align: center;
}